<section id="subscribe">
  <div>
    {% if request.session.subscribed %}
    <h1><mark class="dark">Thanks for subscribing!</mark></h1>
    {% else %}
    <h1><mark>Follow the adventure.</mark></h1>
    <form class="form-inline" action="{% url 'subscriptions:subscribe' %}" method="POST">
      {% csrf_token %}
      {{ form.errors }}
      <label for="id_email_address">Email:</label>
      <input type="email" autocomplete="off" name="email_address" placeholder="Email Address" maxlength="254" required="true" id="id_email_address" data-np-checked="1">
      <input type="hidden" name="next" value="{{ request.path }}">
      <button type="submit">Subscribe</button>
    </form>
    {% endif %}
  </div>
</section>
