{% extends "base.html" %}

{% block cover %}
  <img class="cover" src="https://images.squarespace-cdn.com/content/v1/5330c121e4b0ec02b60123b4/1595276169995-O3Z0C64FM64CGTTBT775/ke17ZwdGBToddI8pDm48kMXRibDYMhUiookWqwUxEZ97gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0luUmcNM2NMBIHLdYyXL-Jww_XBra4mrrAHD6FMA3bNKOBm5vyMDUBjVQdcIrt03OQ/0V5A1630.JPG?format=500w">
{% endblock cover %}

{% block content %}
<section class="article-body">
  <span class="article-info"><a class="author" href="">{{ post.author }}</a> on <em>{{ post.posted_date | date:"F jS" }}</em></span>
  {{ post.body_rendered | safe }}
</section>
{% endblock content %}
